.masonry-entry{
<<<<<<< HEAD
	width: 30%;
=======
	width: 30%;
>>>>>>> FETCH_HEAD
}

#masonry-loop div div {
	background-color: #ffffff;
	overflow: hidden;
	display:inline-block;
	vertical-align:top;	
/*remove rounded corners from portfolio images
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
*/
	_display:inline; /* IE6 and below */
	_zoom:1; /* IE6 and below */
}
#masonry-loop div a {
	display: block;
	margin: 1px;
	padding: 0px;
}

#masonry-loop div a:hover {
	text-decoration: none;
}
#masonry-loop div div a img {
	border: none;
	opacity: 1;
	display: block;
}
#masonry-loop .masonry-entry div .title-overlay {
	text-align: center;
	position: absolute;
	width: 100%;
	margin-top: 50px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
}
#masonry-loop .masonry-entry div .title-overlay span {
	color: #8D8D8D;
	background-color: #ffffff;
	padding: 7px;
/*	remove rounded corners	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
*/
}
#masonry-loop div a:hover > img {
	opacity: .1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)"; /* IE 8 */
	transition:opacity 0.8s;
	-moz-transition:opacity 0.8s; /* Firefox 4 */
	-webkit-transition:opacity 0.8s; /* Safari and Chrome */
	-o-transition:opacity 0.8s; /* Opera */
}
#masonry-loop div a:hover > span.title-overlay {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /* IE 8 */
}